.navbar {
    display: flex;
    justify-content: space-between;
    
    padding: 1em 1.2em;
    margin-bottom: 2em;

    background-color: #4a4a4a;
    box-shadow: 0 2px 8px #4a4a4a ;
}

.logo {
    display: flex;
    font-size: 30px;
    color: #EE4C2C;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    margin: 1em;
    transition: 0.2s;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #EE4C2C
}
