.hero {
    display : flex;
    justify-content : center;
    animation: fadeIn ease 3s;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.heroImg {
    width : 97%; 
    height : auto;
    border-radius : 20px;
}